@model EntityLayer.Concrete.Skill

@{
	ViewData["Title"] = "SkillUpdate";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header bg-transparent border-0 ">
	<h3 class="text-white mb-0">Yetenek Güncelleme</h3>
</div>


@using (Html.BeginForm("SkillUpdate", "Skill", FormMethod.Post))
{

	<div class="col-lg-7 col-md-10">
		<form class="form-group" method="post">
			@Html.HiddenFor(c=>c.SkillID)
			<label for="example-text-input" class="form-control-label">Yetenek</label>
			@Html.TextBoxFor(c => c.Title, new { @class="form-control" })
			<br />
			<label for="example-text-input" class="form-control-label">Yetenek Değeri</label>
			@Html.TextBoxFor(c => c.Value, new { @class="form-control" })
			<br />
			<button class="btn btn-outline-warning">Güncelle</button>
			<br />
			<br />

		</form>
	</div>
}
